h2.smaller {
  font-size: 80px;
}

blockquote .smaller {
  font-size: 0.9em;
}

.vox-logo {
  position: relative;
  top: 25px;
}

.vox-cardstack {
  bottom: 0;
  max-height: 65%;
  position: absolute;
  right: 5%;
}

.growth-mindset {
  margin: 0 auto;
  width: 85%;

  img {
    float: left;
    position: relative;
    top: 0.3em;
    width: 40%;
  }

  blockquote {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding-left: 5%;
    text-align: left;
    width: 60%;
  }

  footer {
    font-size: 22px;
  }
}

/*.growth-mindset {
  background-color: black;
  color: white;
  text-shadow: 3px 3px 5px black;

  h2 {
    color: white;
  }
}*/

.ga-yes {
  max-height: 125px;
  max-width: 125px;
  opacity: 0.3;
  position: relative;
  top: 0.15em;
}

.junior-senior {
  min-width: 300px;
}

.learn-languages {
  ul {
    margin: 0 auto;
    width: 75%;
  }

  img {
    opacity: 0.3;
    padding-top: 50px;
  }
}

.javascript-intro {
  max-height: 50% !important;
  max-width: 60% !important;
}

.javascript-lang {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  font-family: $mono;
}

.javascript-difficulty {
  max-height: calc(69%);
}

.javascript-core {
  width: 80%;

  .column {
    text-align: center;
  }
}

.backend-frontend {
  width: 70%;
}

.mv-separation {
  margin: 0 auto;
  position: relative;
  width: 80%;

  .divider {
    border-left: 1px solid #bbb;
    display: block;
    height: calc(100%);
    left: 50%;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1;
  }

  img,
  .column-list {
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .right {
    padding-right: 30px;
    text-align: right;
  }

  .left {
    padding-left: 30px;
  }
}

.mv-one-to-many {
  max-width: 900px;
}

.backbone-rest {
  border: 3px solid $main-color;
  border-radius: 10px;
  font: 24px/2 $mono;
  margin: 0 auto 20px;
  width: 80%;

  td {
    padding: 0 20px;
  }

  em {
    color: #ccc;
    font-style: normal;
  }

  .component {
    background-color: $main-color;
    color: white;
    font-size: 1.25em;
    text-align: center;
    width: 25%;
  }

  &.model {
    border-color: $main-color;

    .component {
      background-color: $main-color;
    }
  }
}

.backbone-parse {
  font: 22px/1.4 $mono;

  b {
    color: #EF4836;
    font-weight: bold;
  }

  .column.left {
    border-right: 1px solid #ccc;
    padding-right: 50px;
  }

  .column.right {
    padding-left: 50px;
  }
}

.backbone-pattern {
  left: 1.5%;
  position: relative;
}

.conway {
  background: image-url('conway.gif') no-repeat center center;
  background-size: cover;
}

.logo-soup {
  margin-top: 1em;
  
  li {
    display: inline-block;
    height: 50px;
    margin-right: 1em;
    vertical-align: middle;
  }

  img {
    max-height: 50px;
    max-width: 230px;
  }
}