$bebas: 'BebasRegular', 'Helvetica Neue', Helvetica, sans-serif;
$body: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
$mono: 'Courier', monospace;

$section-color: #0d283a;
$main-color: #6F96A8;